@using Decrypt.Model.Facebook

<p>
	@AdvertisersUsingYourActivity.Description
	<br/>
	<a href="https://www.facebook.com/business/help/744354708981227?id=2469097953376494">More on Custom Audience</a>
	<br/>
</p>

@* figure out dynamic sizing for page size*@
<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true"
                Data="@SharedAdvertisers" TItem="SharedAdvertiser" LogicalFilterOperator="LogicalFilterOperator.Or" PageSize="12">
	<Columns>
		<RadzenDataGridColumn TItem="SharedAdvertiser" Property="@nameof(SharedAdvertiser.Name)" Title="@SharedAdvertiser.NameDisplayName"/>
		<RadzenDataGridColumn TItem="SharedAdvertiser" Property="@nameof(SharedAdvertiser.HasDataFileCustomAudience)">
			<HeaderTemplate><span data-toggle="tooltip" title="@SharedAdvertiser.HasDataFileCustomAudienceDescription">@SharedAdvertiser.HasDataFileCustomAudienceDisplayName <i class="oi bi-info-circle"/></span> </HeaderTemplate>
			<Template Context="advertiser">
				@RadzenDataGridColumnFormat.TransformBoolToYesNo(advertiser.HasDataFileCustomAudience)
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="SharedAdvertiser" Property="@nameof(SharedAdvertiser.HasRemarketingCustomAudience)">
			<HeaderTemplate><span data-toggle="tooltip" title="@SharedAdvertiser.HasRemarketingCustomAudienceDescription">@SharedAdvertiser.HasRemarketingCustomAudienceDisplayName <i class="oi bi-info-circle"/></span> </HeaderTemplate>
			<Template Context="advertiser">
				@RadzenDataGridColumnFormat.TransformBoolToYesNo(advertiser.HasRemarketingCustomAudience)
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="SharedAdvertiser" Property="@nameof(SharedAdvertiser.HasInPersonStoreVisit)" Title="@SharedAdvertiser.HasInPersonStoreVisitDisplayName">
			<Template Context="advertiser">
				@RadzenDataGridColumnFormat.TransformBoolToYesNo(advertiser.HasInPersonStoreVisit)
			</Template>
		</RadzenDataGridColumn>
	</Columns>
</RadzenDataGrid>

@code {
	[Parameter]
    public IEnumerable<SharedAdvertiser> SharedAdvertisers { get; set; } = null!;
}
