@using Privasight.Wasm.Services
@using System.ComponentModel

@implements IDisposable

@inject DataService _dataService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Privasight</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<RadzenPanelMenu>
			<RadzenPanelMenuItem Text="Home" Icon="home" Path=" " />
			@foreach (AvailableCompany company in Enum.GetValues(typeof(AvailableCompany)))
			{
				<RadzenPanelMenuItem Text="Facebook" Icon="dashboard" Expanded="true">
					<RadzenPanelMenuItem Text="Load in Data" Path="@($"{company}/loadData")" Icon="backup"/>
					<RadzenPanelMenuItem Text="Manage Dashboards" Path="@($"{company}/manageDashboards")" Icon="build"/>
					<RadzenPanelMenuItem Text="All Available Data" Path="@($"{company}/dashboards/default")" Icon="assessment"/>
					@if (_dataService.DashboardSettings != null && 
					     _dataService.DashboardSettings.ContainsKey(company) &&
					     _dataService.DashboardSettings[company].Count != 0)
					{
						<RadzenPanelMenuItem Text="Custom Dashboards" Icon="account_circle">
							@for (var i = 0; i < _dataService.DashboardSettings[company].Count; i++)
							{
								<RadzenPanelMenuItem Text="@_dataService.DashboardSettings[company][i].Name" Path="@($"{company}/dashboards/{i}")"/>
							}
						</RadzenPanelMenuItem>
					}
				</RadzenPanelMenuItem>
			}
		</RadzenPanelMenu>
	</nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

	public void Dispose() => _dataService.PropertyChanged -= PropertyHasChanged;

	protected override async Task OnInitializedAsync()
	{
		_dataService.PropertyChanged += PropertyHasChanged;
		if (_dataService.DashboardSettings == null)
		{
			await _dataService.SetDashboardSettingsFromStorage();
		}
	}

	private void PropertyHasChanged(object? sender, PropertyChangedEventArgs args)
	{
		if (args.PropertyName == nameof(_dataService.DashboardSettings))
		{
			StateHasChanged();
		}
	}
}
