@using Privasight.Model.Shared.Helpers
@using Privasight.Model.Shared.Display.DataList
@using System.Linq

@typeparam TItem where TItem : Privasight.Model.Shared.DataStructures.AbstractClasses.DbTableObj

@if (!string.IsNullOrWhiteSpace(Description))
{
	<p>@((MarkupString)Description)</p>
}
<RadzenDataList WrapItems="true" AllowPaging="true" 
                Data="@DataListHelper.GenerateDataListDisplay(Items, DisplayPropertyName).OrderByDescending(d => d.GenerationDates.Count())" 
                TItem="DataListDisplayDetails" PagerHorizontalAlign="HorizontalAlign.Left" 
                ShowPagingSummary="true" PageSize="6">
	<Template Context="item">
		<RadzenCard class="my-1 p-0" Style="width: 100%; overflow: hidden;">
			<div class="ms-0 me-sm-0">
				<div class="d-flex row">
					<div class="col-md-5 p-3 new-status">
						@item.Value
					</div>
					<div class="col-md-7 p-3 text-center">
						Appeared @item.GenerationDates.Count() times
						<br/>
						On @string.Join(", ", item.GenerationDates.OrderByDescending(d => d).Select(d => d.ToString("yyyy-MM-dd")).ToArray())
					</div>
				</div>
			</div>
		</RadzenCard>
	</Template>
</RadzenDataList>
<style>
	.new-status {
		color: rgb(0, 102, 102);
		text-align: center;
		background-color: rgba(157, 245, 227, .4);
		font-size: 20px;
		font-weight: bold;
		line-height: 20px;
		letter-spacing: -0.02em;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
@code {

	[Parameter]
	public string DisplayPropertyName { get; set; } = "";
	[Parameter]
	public IEnumerable<TItem>? Items { get; set; }
	[Parameter]
	public string Description { get; set; } = "";
}
